// /* You can add custom styles here. */

// // @import "plugins/numbered";
// // @import "plugins/scrollbars";
// .markdown code {
//     color: var(--code-color);
//     background: var(--code-bg-color);
// }
.markdown  {
    h3 {
        color: #36ac66d6
    }
    h2 {
        color: #36ac66d6
    }
    h1 {
        color: #36ac66d6
    }
}